<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Welcome, <%= user.username %></h1>
    <p>Welcome to Zahraa Yarnn!</p>
    <p>Explore our products and enjoy your shopping experience.</p>
    <form action="/products" method="get">
        <button type="submit">View Products</button>
    </form>


</body>
</html>