<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zahraa Yarnn</title>
</head>
<body>
    <nav>
        <% if (user){ %>

            <%= user.username %>
            <a href="/products">Products</a>
            <a href="/cart">Cart</a>
            <a href="/orders">Orders</a>
            <a href="/auth/logout">Logout</a>
   
    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>

    <%} %>
        
    </nav>
    
</body>
</html>